body {
    margin:0;
    background-image: url("TrashQuest2.jpg");
    background-size: 1600px; 
    background-color: black;
}

.bg-image {
    filter: blur(8px);
}


/* Nav Bar */

.navbar {
    display: flex;
    height: 10.5vh;
    background-color: #9EDF9C;
}

.logo {
    /* background-color: #526E48; */
    background-color: #000;
    border-bottom-right-radius: 5vh;
    height:90%;
    width: 25%;
    font-size: 5vh;
    text-align: center;
    color:#fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5vw;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
    width: 30%;
    height: 130%;
    font-size: 5.5vh;
}


#logo-img {
    max-width: 100%;
    max-height: 100%;
    padding-left: 5%;
}

#logo-adjust {
    margin:auto;
}

.nav-buttons {
    display:flex;
    margin: auto;
    width: 60%;
    height: 80%;
    font-size: 3vh;
    align-items: center;
    justify-content: center;
    margin-left:3%;
}

.nav-buttons div {
    display: flex;
    margin: 1vh 4vw auto auto;
    width: 100%;
    height:100%
}

.nav-buttons div a{
    width: 100%;
    background-color: #C2FFC7 ;
    text-align: center;
    height: 60%;
    border-radius: 2vh;
}

.nav-buttons div a:hover {
    background-color: #9EDF9C;
    transform: translateY(-3px);
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.3);
    text-decoration: underline;
}

.user {
    display: flex;
    width: 12%;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    padding-left: 4%;
    
}

.user:hover {
    background-color: #9EDF9C;
    transform: translateY(-1vh);
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.3);
    font-size: 2.5vh;
}

.user-points {
    display: flex;
    flex-direction:column;
    margin-left: 1vh;
}

.user a {
    display: flex;
    text-decoration: none;
    margin:0;
    padding:0;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    color:#000;
}

.user a div span{
    margin:0;
    padding:0;
}

.user a div p {
    margin:0;
    padding: 0;
}

.user a img {
    margin: 0;
    max-width: 35%;
    max-height: 35%;
}

/* Main body content */

.container {
    width: 100%;
    height:100vh;
    margin:0;
}

.content {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
}

.tq {
    width: 32%;
    margin-left: 5%;
    padding:2vh;
    font-size: 7vh;
    /* background-color: aqua; */
    color:#fff;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

.tq h1 {
    margin:0;
}

#by-tq{
    font-size: 1.5vh;
    color:white;
    text-align: right;
    width:37%;
}

.border {
    width:0.1%;
    background-color: white;
    margin:0 3% 0 3%;
}

.motto {
    width: 60%;
    /* background-color: aquamarine; */
    font-size: 4vh;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.motto h2 {
    text-align: left;
    margin:0;
}

/* Image slide show */

.image-slideshow {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.carousel-slides {
    display: flex;
    transition: all 0.8s ease-in-out;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.carousel-slide img {
    width: 100%;
    display: flex;
}

.carousel-btn {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 10px;
}

.prev:hover {
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
}

.next {
    right: 10px;
}

.next:hover {
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
}


/* Footer Section */
.footer {
    height: 30vh;
    background-color: #052114;
    color:#fff;
    margin:0;
    padding: 0;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    padding: 1% 30% 0 30%;
}

.footer-nav a {
    color:#fff;
    text-decoration: none;
    border: 2px solid #052114;   /*same bg-color as footer*/
    padding:2%;
    border-radius: 10%;
}

.footer-nav a:hover {
    border: 2px solid white;
}


