body {
    margin:0;
    background-color: black;   
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background-image: url("img/TrashQuest_bg.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(1vh) brightness(50%); 
    opacity: 0.7; 
}

/* Nav Bar */
.navbar {
    display: flex;
    height: 10.5vh;
    background-color: #0fa20a;
}

.logo {
    /* background-color: #526E48; */
    background-color: #000;
    border-bottom-right-radius: 5vh;
    height:90%;
    width: 25%;
    font-size: 4.5vh;
    text-align: center;
    color:#44ea4f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5vw;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
    width: 30%;
    height: 130%;
    font-size: 5vh;
}


#logo-img {
    max-width: 100%;
    max-height: 100%;
    padding-left: 5%;
}

#logo-adjust {
    margin:auto;
}

.nav_bar {
    display:flex;
    margin: auto;
    width: 75%;
    height: 100%;
    font-size: 2.5vh;
    align-items: center;
    justify-content: center;
    margin-left:3%;
}

.nav-buttons {
    display:flex;
    margin: auto;
    width: 70%;
    height: 100%;
    font-size: 2.5vh;
    align-items: center;
    justify-content: center;
    margin-left:3%;
}

.nav-buttons div {
    display: flex;
    margin: 1.3vh 3vw auto auto;
    width: 100%;
    height:100%;
    color:#44ea4f;
}

.nav-buttons div a{
    width: 100%;
    background-color: #000000 ;
    text-align: center;
    height:50%;
    border-radius: 2vh;
    font-size: 2.1vh;
    padding: 2.2vh 0 0 0;
    color:inherit;
    text-decoration: none;
}

.nav-buttons div a:hover {
    background-color: #084406;
    transform: translateY(-3px);
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.3);
    font-weight: 1000;
    /* text-decoration: underline; */
}

.user {
    display: flex;
    width: 18%;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    padding-left: 2%;
    height:100%;
}

.user:hover {
    background-color: #9EDF9C;
    /* transform: translateY(-1vh); */
    box-shadow: 1vh 2vh 2vh rgba(0, 0, 0, 0.3);
    font-size: 2.5vh;
}

.user-points {
    display: flex;
    flex-direction:column;
    margin-left: 1vh;
}

.user a {
    display: flex;
    text-decoration: none;
    margin:0;
    padding:0;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    color:#000;
}

.user a div span{
    margin:0;
    padding:0;
}

.user a div p {
    margin:0;
    padding: 0;
}

.user a img {
    margin: 0;
    max-width: 35%;
    max-height: 35%;
}

/* Main body content */

.container {
    width: 100%;
    flex: 1;
    height: 80%;
    margin: 7% auto auto auto;
    justify-content: center;
    align-items: center;
}

.content {
    margin-top: 4vh;
    display: flex;
    justify-content: center;
}

.tq {
    width: 32%;
    margin-left: 5%;
    padding:2vh;
    font-size: 7vh;
    /* background-color: aqua; */
    color:#44ea4f;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

.tq h1 {
    margin:0;
    font-size:15vh;
}

#by-tq{
    font-size: 1.5vh;
    color:#44ea4f;
    text-align: right;
    width:25%;
    margin-bottom: 8vh;
}

.border {
    width:0.1%;
    background-color: white;
    margin:0 3% 0 3%;
}

.motto {
    width: 60%;
    /* background-color: aquamarine; */
    color:#44ea4f;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.motto h2 {
    text-align: left;
    margin:0;
    font-size: 8vh;
}

/* Image slide show */
.carousel-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0; /* Added padding to accommodate larger center image */
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    align-items: center; /* Align items vertically */
}

.carousel-slide {
    min-width: calc(100% / 3);
    padding: 0 10px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    transform-origin: center center;
}

.carousel-slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

/* Style for the center slide */
.carousel-slide.active {
    transform: scale(1.2);
    z-index: 2;
}

.carousel-slide.active img {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Style for side slides */
.carousel-slide:not(.active) {
    opacity: 0.7;
    filter: blur(1px);
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
    z-index: 3;
}

.carousel-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.prev {
    left: 10px;
}

.prev:hover {
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
}

.next {
    right: 10px;
}

.next:hover {
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
}

/* Content block */
.content-block-left {
    display:flex;
    margin: 0.5vh auto;
    justify-content: left;
    align-items: center;
    font-weight: 300;
    background-color: rgba(13, 12, 12, 0.5);
}

.content-block-right {
    display:flex;
    margin: 3vh auto;
    justify-content: right;
    align-items: center;
    font-weight: 300;
    background-color: rgba(13, 12, 12, 0.5);
}

.content-block-left img{
    width:50%;
    margin: 0 4% 0 0;
}

.content-block-left .description {
    width: 45%;
    font-size: 10vh;
    color:#44ea4f;
}

.content-block-right img {
    width:50%;
    margin: 0 0 0 4%;
}

.content-block-right .description {
    width: 45%;
    font-size: 10vh;
    color:#44ea4f;
}

.donate-us {
    display: flex;
    padding: 5vh 10vw;
    background-color: #0fa20a;
    color: white;
    justify-content: center;
    border: none;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-bottom: 5vh;
}

.donate-us:hover {
    background-color: #0c7a07;
}


/* Footer Section */
.footer {
    min-height: 34vh;
    background-color: #052114;
    color:#fff;
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding: 2vh 0;
    width: 80%;
    max-width: 1200px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #052114;   /*same bg-color as footer*/
    padding:2%;
    border-radius: 10%;
}

.footer-nav a:hover {
    border: 2px solid white;
}

.footer-contact-links {
    margin: 5vh auto 0 auto;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:start;
}

.footer-contact-links a {
    width: 10%;
    display: flex;
    align-items: start;
    border: 2px solid #052114;
    margin:1vh;
    border-radius: 10vh;
    text-align: center;
    padding: 1vh;
}

.footer-contact-links a:hover {
    border: 2px solid #fff;
}

.footer-contact-links div {
    width:100%;
}

.wa img {
    max-width: 75%;
    max-height: 75%;
}

.insta img {
    max-width: 75%;
    max-height: 75%;
}

.mail img {
    max-width: 75%;
    max-height: 75%;
}

.phone img {
    max-width: 75%;
    max-height: 75%;
}


.volunteer-content {
    padding: 20px;
}

.volunteer-content h1 {
    text-align: center;
    margin-bottom: 20px;
}

.opportunities {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.opportunity {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.opportunity img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.opportunity h2 {
    margin: 10px 0;
}

.opportunity p {
    font-size: 14px;
    color: #555;
}

.join-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: #0fa20a;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 5vh;
}

.join-button a {
    text-decoration: none;
    color: white;
}

.join-button:hover {
    background-color: #0c7a07;
}

.join-content {
    display: flex;
    padding: 20px;
    max-width: 600px;
    margin-left: 6vw;
    flex-direction: row;
}

.join-form {
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.join-form label {
    margin-bottom: 5px;
    font-weight: bold;
    align-self: flex-start;
}

.join-form input,
.join-form select,
.join-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.join-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #0fa20a;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.join-form button:hover {
    background-color: #0c7a07;
}

.copyright {
    display: flex;
    width: 25%;
    justify-content: center;
}

/* Progress bar and stats */
.progress-container {
    background-color:#9edf9c;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.progress-bar {
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
}

.progress {
    background-color: #4caf50;
    height: 20px;
    width: 0;
    transition: width 0.5s;
}

.stats {
    font-size: 1.2em;
    color: #ffffff;
}

.stats p {
    margin: 10px 0;
}

.progress-overview {
    color: #ffffff;
}

/* Footer Section */
.footer {
    position: relative;
    margin-top: 300px;
    padding: 3rem 0;
    color: #fff;
    background: #000;
    margin-top: auto;
  }
  .footer__columns {
    display: flex;
    justify-content: space-between;
  }
  .footer__col-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .footer__col-title * ~ span {
    margin-left: 1rem;
  }
  .footer a {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  .footer a * ~ span {
    margin-left: 1rem;
  }
  .footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__copyrights {
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .footer__copyrights p {
    display: flex;
  }
  .footer__copyrights p a {
    margin-left: 0.5rem;
  }
  @keyframes parralax {
    0% {
      background-position: 260px;
    }
    100% {
      background-position: -10000vw;
    }
  }
  @keyframes moto {
    0% {
      transform: translateY(0) rotate(0);
    }
    5% {
      transform: translateY(0) rotate(-5deg);
    }
    25% {
      transform: translateY(60px) rotate(-20deg);
    }
    49% {
      transform: translateY(0) rotate(-1deg);
    }
    51% {
      transform: translateY(0) rotate(1deg);
    }
    75% {
      transform: translateY(60px) rotate(20deg);
    }
    80% {
      transform: translateY(60px) rotate(0deg);
    }
    98% {
      transform: translateY(0) rotate(0);
    }
  }
  @keyframes voiture {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(0);
    }
    75% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  .footer__parralax {
    position: absolute;
    left: 0;
    top: -300px;
    height: 300px;
    width: 100%;
    overflow: hidden;
  }
  .footer__parralax-premierplan {
    background-position: 260px;
  }
  .footer__parralax-trees, .footer__parralax-premierplan, .footer__parralax-secondplan {
    position: absolute;
    inset: 0;
    background-repeat: repeat-x;
    background-position-y: 100% !important;
    animation: parralax 600s linear infinite;
  }
  .footer__parralax-moto {
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -250px;
    height: 200px;
    width: 150px;
    background: url(https://i.ibb.co/JCGfFJd/moto-net.gif);
    background-repeat: no-repeat;
    transform-origin: 50% 80%;
    animation: moto 5s linear infinite;
  }
  .footer__parralax-voiture {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: 250px;
    height: 114px;
    width: 206px;
    background: url(https://i.ibb.co/0Qhp4DN/voiture-fumee.gif);
    background-repeat: no-repeat;
    animation: voiture 1s linear infinite;
  }
  .footer__parralax-trees {
    background-image: url(https://i.ibb.co/nQM4PGJ/arbres.png);
    bottom: -60px;
    animation-duration: 1000s;
  }
  .footer__parralax-premierplan {
    background-image: url(https://i.ibb.co/RQhDWbk/premierplanv3.png);
    animation-duration: 500s;
  }
  .footer__parralax-secondplan {
    background-image: url(https://i.ibb.co/J3TjC4W/second-plan.png);
    animation-duration: 600s;
  }
#footer-logo {
    width: 10%;
    height:10%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Same as index background */
}

.login-container h2 {
    color: white;
    margin-bottom: 20px;
}

.login-container form {
    background-color: #9EDF9C;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-container label {
    color: white;
    display: block;
    margin: 10px 0 5px;
}

.login-container input {
    width: 40vh;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.login-container button {
    background-color: #526E48;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #3B4D36;
}

.user-info {
    background-color: #9EDF9C;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    text-align: center;
    color: #ffffff;
}

.user-info h2, .user-info p {
    margin: 10px 0;
}

.user-info .edit-button, .user-info .save-button {
    background-color: #526E48;
    color: white;
    padding: 7px 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.user-info .edit-button:hover, .user-info .save-button:hover {
    background-color: #3B4D36;
}

.user-info .logout-button {
    background-color: #FF6347;
    color: white;
    padding: 7px 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.user-info .logout-button:hover {
    background-color: #FF4500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
}

button {
    font-family: 'Roboto Mono', monospace;
}

.donatebutton-centering {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* Form group styles */
.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
}

.form-group input {
    flex: 2;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.form-group label {
    color: white;
}

.form-group input {
    color: black;
}


@media screen and (max-width: 768px) {
    /* Navbar adjustments */
    .navbar {
        height: auto;
        flex-direction: column;
    }

    .logo {
        width: 100%;
        border-radius: 0;
        padding: 2vh;
        justify-content: center;
    }

    .logo:hover {
        width: 100%;
        height: 100%;
    }

    #logo-img {
        width: 15%;
        height: 10%;
    }

    #logo-adjust {
        width: 80%;
        font-size: 70%;
    }

    .nav-buttons {
        width: 70%;
        flex-direction: row;
        margin: 0;
        padding: 2vh;
        font-size: 10%;
    }

    .nav-buttons div {
        margin: 1vh auto;
        width: 90%;
    }

    .nav-buttons div a {
        color:inherit;
        text-decoration: none;
    }

    .user {
        width: 30%;
        justify-content: center;
        padding: 2vh;
    }

    /* Main content adjustments */
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tq {
        width: 90%;
        margin: 0;
        justify-content: center;
        align-items: center;
        font-size: 5vh;
    }

    #by-tq {
        width: 100%;
        text-align: center;
    }

    .border {
        width: 90%;
        height: 0.1%;
        margin: 3vh 0;
    }

    .motto {
        width: 90%;
        align-items: center;
        text-align: center;
        font-size: 3vh;
    }

    /* Image slideshow adjustments */
    .image-slideshow {
        max-width: 90%;
    }

    /* Footer adjustments */
    .footer {
        height: auto;
        padding: 4vh 0;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
        padding: 2vh;
    }

    .footer-nav a {
        margin: 1vh 0;
    }

    .footer-contact-links {
        width: 80%;
    }
}


